<!-- <p>dynamic-form works!</p> -->

<!-- 
<div [formGroup]="dynamicForm">
    <input formControlName="checkbox" value="Spor" [checked]="dynamicForm.get('')" name="test" type="checkbox" /> Spor
    <input formControlName="checkbox" name="test" type="checkbox" /> Yüzme


  <button (click)="onSubmit()">asdsad</button>
</div>  -->


<form *ngIf="dynamicForm" [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">

  <ng-container *ngFor="let control of dataSource let i=index">

    <ng-container [ngSwitch]="control.type">
    
      <div *ngSwitchCase="'radio'">
        <h3><span>({{i+1}}). Soru :</span> {{control.label}} - {{control.id}}</h3>
        <p>
          <span *ngFor="let option of control.options let i=index">
      

            <span>{{option}}</span>


            <input type="radio" name="{{control.id}}" [checked]="control.value == option ? true:false" [value]="option" (change)="onRadioButtonChange(option,control.id)">
           
          </span>
        </p>
      </div>

      <div *ngSwitchCase="'checkbox'">
        <h3><span>({{i+1}}). Soru :</span> {{control.label}} - {{control.id}}</h3>
        <p>
          <span *ngFor="let option of control.options let i=index">



            result: {{$any(control.value).includes(option) ? true:false}}
            <span>{{option}}</span>
            <input [value]="option" [checked]="$any(control.value).includes(option) ? true:false" (change)="onCheckBoxChange($event,control.id)" type="checkbox"  >
          </span>
        </p>
        
       
      </div>


      <div *ngSwitchCase="'select'">
        <h3><span>({{i+1}}). Soru :</span> {{control.label}} - {{control.id}}</h3>
        <p>

          <select formControlName="{{control.id}}" [multiple]="$any(control.value).length > 0 ? true:false">
            <option [routerLinkActive]="option" [selected]="$any(control.value).includes(option) ? true:false" *ngFor="let option of control.options let i=index">{{option}}</option>
          </select>
         
        </p>
        
       
      </div>


      <div *ngSwitchCase="'input'">
        <h3><span>({{i+1}}). Soru :</span> {{control.label}} - {{control.id}}</h3>
        <p>
          <input type="text" formControlName="{{control.id}}" [value]="control.value">
        </p>
      </div>

      <div *ngSwitchCase="'numeric'">
        <h3><span>({{i+1}}). Soru :</span> {{control.label}} - {{control.id}}</h3>
        <p>
          <input type="number" formControlName="{{control.id}}" [value]="control.value">
        </p>
        
       
      </div>

   

    </ng-container>
    
  </ng-container>

    <div>
      <input type="submit" value="Gönder">
    </div>
</form>


